figure {
  margin: 10px 0;
  padding: 5px;
}

figure img {
  margin: 0;
  padding: 0;
}

figure figcaption {
  color: #333;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1;
  font-style: italic;
}